
@using CMS.Models
@model System.Collections.Generic.List<CMS.Models.Teacher>

Select Teacher: <select class="form-control" name="teacher" id="sel1">
    <option>--Select Teacher--</option>

    @foreach (Teacher teacher in Model)
    {
        <option>@teacher.Name</option>
    }
</select>